---
import type { CollectionEntry } from "astro:content";

import styles from "./Post.module.css";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();
const { published, tags } = post.data;
---

<article class={styles.post}>
  <header class={styles.header}>
    <div class={styles.author}>
      <img src="/bark.png" class={styles.profilePicture} />
      <strong>@bark</strong>
    </div>

    <div class={styles.meta}>
      <a href={`/post/${post.slug}`} class={styles.published}>
        {published.toISOString().slice(0, 10)}
      </a>
      <ul class={styles.tags}>
        {
          (tags || []).map((tag) => (
            <li>
              <a href={`/posts/tagged/${tag}`}>#{tag}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </header>

  <main><Content /></main>
</article>
